[keys_and_addresses]
NODE_ADDRESS = ws://127.0.0.1:9944

[addresses]
accounts = ['4FTr8kn7SMg3w78WCPSZHXPWLYSSDMU8RCHDXCLoP9ajd4ws',
   '4FRC4ae57MnRJViqfbrEHrwDWQm4E3bGzR1szC3h6kQDKwi1',
    '4CqnoxEVYKTLC9TZWmZYxN9WPq7np1U7uENihcMe8DVSCyWR',
    '4DHaCwK5eNijEByXSrrXauJwUi5vYR53rESBNeDYHD6WeJYw',]




